body {
    background: linear-gradient(122.3deg, rgb(111, 71, 133) 14.6%, rgb(232, 129, 166) 29.6%, rgb(237, 237, 183) 42.1%, rgb(244, 166, 215) 56.7%, rgb(154, 219, 232) 68.7%, rgb(238, 226, 159) 84.8%);
     font-family: sans-serif;   
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
}

h2 {
    margin: 0 0 15px;
    font-size: 38px;
    font-weight: bold;
}
select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
}
.world-clock {
    max-width: 600px;
    margin: 60px auto;
    padding: 60px;
    background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.city {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding: 30px 0;
}
.city:last-child {
    border: none;
}
.time {
    font-size: 48px;
    font-weight: bold;
}
.time small {
    font-size: 24px;
    vertical-align: middle;
    line-height: 48px;
}
.date {
    opacity: 0.7;
}

footer {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}